<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-6"><!-- <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> -k-> col 1</div>
        <div class="col-6 d-none d-md-block bg-danger">col 2</div>
    </div> -->
    <!-- <span class="fa-stack fa-lg">
            <i class="fa fa-camera fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span> -->
</div>